ssl.endpoint.identification.algorithm=https
sasl.mechanism=PLAIN
request.timeout.ms=20000
bootstrap.servers={{ env['CCLOUD_BOOTSTRAP_SERVERS'] }}
retry.backoff.ms=500
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username\="{{ env['CCLOUD_API_KEY'] }}" password\="{{ env['CCLOUD_API_SECRET'] }}";
security.protocol=SASL_SSL
